*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
html{
	font-size: 16px;
	font-family: "Red Hat Display", sans-serif;
	background-color: #FAFAFA;
}
.body{
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
}

.logo{
	width: 119px;
	height: 28px;
	position: absolute;
	display: inline-flex;
	left:  45.5%;
	margin-top: 30px;
	
}

.header{
	position: absolute;
	width: 100%;
	height: 100vh;
	display: inline-flex;
	margin: 120px auto;
	
	text-align: center;
}
#pic1{
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	top: 0px;
	left: 30px;
}
#pic2{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	top: 130px;
	left: 30px;
}
#pic3{
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	top: -50px;
	left: 150px;

}
#pic4{
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	top: 80px;
	left: 150px;
	
}
#pic5{
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	top:0px;
	left: 300px;
}
#pic6{
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	top: 130px;
	left:300px ;
}

.center-description{
	position: absolute;
	width: 500px;
	height: 304px;
	text-align: center;
	left: 33.5%;
}

#description{
	position: absolute;
	width: 426px;
	height: 128px;
	font-family: red hat display;
	font-style:normal;
	font-size: 64px;
	font-weight: 900px;
	line-height: 64px;
	text-align: center;
	color: #28283D;
}

.sub-description{
	position: absolute;
	width: 517px;
	height: 52px;
	font-family: red hat display;
	font-style:normal;
	font-size: 18px;
	line-height:26px;
	font-weight: 500px;
	text-align: center;
	color: #87879D;
	right: 7%;
	top: 136px;

}

.buttons{
	position: absolute;
	width: 333px;
	height: 58px;
	text-align: center;
	top: 200px;
	left: 7%;
}
#download{
	position: absolute;
	width: 110px;
	height: 50px;
	border-radius: 50px;
	border-color: white;
	background-color:#4D96A9;
	color: white;
	left: 50px;
}
#download:hover{
	background-color:#8FE3F9;
	cursor: pointer;
}
#what{
	position: absolute;
	width: 110px;
	height: 50px;
	border-radius: 50px;
	border-color: white;
	background-color: #855FB1;
	color: white;
}
#what:hover{
	background-color:#6a5acd;
	cursor: pointer;
}

#pic9{
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	top: 130px;
	right:300px ;
}
#pic11{
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	top: 0px;
	right: 300px;
}
#pic12{
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	top: 30px;
	right: 150px;
}
#pic13{
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	top: 150px;
	right: 150px;
}
#pic14{
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	top:0px;
	right: 20px;
}
#pic15{
	position: absolute;
	width: 90px;
	height: 90px;
	border-radius: 100px;
	top: 130px;
	right:20px ;
}
.body_container{
	position: absolute;
	text-align: center;
	top: 550px;
	left:7.2%;
}
#man{
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 10px;
	left: 120px;
}
#woman{
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 10px;
	left: 350px;
}
#old{
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 10px;
	left: 580px;
}
#meet{
	position: absolute;
	height: 200px;
	width: 200px;
	border-radius: 10px;
	left: 810px;
}

.bottom{
	position: absolute;
  	text-align: center;
  	top: 850px;
  	left: 420px;
}
.bottom > h5{
	font-family:"Red Hat Display";
	font-style: normal;
	line-height:26px;
	letter-spacing:4px;
	text-transform: uppercase;
	color: #4D96A9;
}
.bottom > h4{
	font-family:"Red Hat Display" ;
	font-style:normal ;
	font-weight:900px;
	font-size: 40px;
	line-height:44px;
	color: #28283D;
	top: 17.5px;
}
.bottom > p{
	font-family:"Red Hat Display" ;
	font-style:normal ;
	font-weight:500px;
	font-size: 18px;
	line-height:26px;
	color: #28283D;
	top: 10px;
}
.footer{
	position: absolute;
	text-align: center;
	background-color:#4D96A9;
	top: 1207px;
	width: 100%;
	height: 208px;
}
.footer>h4{
	position: absolute;
	font-family:"Red Hat Display";
	font-style: normal;
	font-size: 40px;
	line-height:26px;
	font-weight: 900px;
	line-height: 44px;
	color: white;
	top: 100px;
	left: 70px;
}
.footer>p{
	position: absolute;
	font-family:"Red Hat Display";
	font-style: normal;
	font-size: 18px;
	line-height:26px;
	font-weight: 500px;
	line-height: 26px;
	color: white;
	top: 100px;
	left:620px;
}
.footer-button{

	position: absolute;
	height: 58px;
	width: 193px;
	top: 100px;
	left:900px;
}
.footer-button >input{
	position: absolute;
	width: 110px;
	height: 50px;
	border-radius: 50px;
	border-color: white;
	background-color: #855FB1;
	color: white;
}
.image > img{
	width: 100%;
	height: 208px;
	opacity: 0.2;
}

/**Media query tablet**/
@media all and (max-width: 779px){

.logo{
		position: absolute;
		top: 0;
		display: flex;
		align-items: center;
}
.sec-1{
	display: flex;
	align-items: center;
	width:50vh;
	margin-top: 400px;
}

#pic1{
	position: absolute;
	width: 100px;
	height:100px;
	border-radius: 100px;
	top: 0px;
	left: 30px;
}
#pic2{
	position: absolute;
	width: 100px;
	height:100px;
	border-radius: 100px;
	top: 130px;
	left: 30px;
}
#pic3{
	position: absolute;
	width: 110px;
	height:110px;
	border-radius: 100px;
	top: -10px;
	left: 150px;

}
#pic4{
	position: absolute;
	width: 110px;
	height:110px;
	border-radius: 100px;
	top: 120px;
	left: 150px;
	
}
#pic5{
	position: absolute;
	width: 110px;
	height:110px;
	border-radius: 100px;
	top:15px;
	left: 270px;
}
#pic6{
	position: absolute;
	width: 100px;
	height:100px;
	border-radius: 100px;
	top: 130px;
	left:280px;
}
#pic9{
	position: absolute;
	width: 100px;
	height:100px;
	border-radius: 100px;
	top: -10px;
	right:270px;
}
#pic11{
	position: absolute;
	width: 110px;
	height:110px;
	border-radius: 100px;
	top: 100px;
	right:260px;
}
#pic12{
	position: absolute;
	width: 110px;
	height:110px;
	border-radius: 100px;
	top: 10px;
	right: 150px;
	
}
#pic13{
	position: absolute;
	width: 100px;
	height:100px;
	border-radius: 100px;
	top: 130px;
	right:150px;
}
#pic14{
	position: absolute;
	width: 100px;
	height:100px;
	border-radius: 100px;
	top:0px;
	right:30px;
}
#pic15{
	position: absolute;
	width: 100px;
	height:100px;
	border-radius: 100px;
	top: 130px;
	right:30px;
}
.center-description{
	position: absolute;
	display:flex;
	align-items: center;
	top: 250px;
	left:170px;
}
#description{
	position: absolute;
	font-family:'Red Hat Display';
	font-style:normal;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	margin-right: 200px;
	color: #28283D;
}

.sub-description{
	position: absolute;
	width: 517px;
	height: 52px;
	font-family: 'Red Hat Display';
	font-style:normal;
	font-size: 16px;
	line-height:26px;
	text-align: center;
	color: #87879D;
	text-align: center;
	top: 250px;
}

.buttons{
	position: absolute;
	text-align: center;
	top: 320px;
	left: 7%;
}
#download{
	position: absolute;
	width: 110px;
	height: 50px;
	border-radius: 50px;
	border-color: white;
	background-color:#4D96A9;
	color: white;
	left: 50px;
}
#what{
	position: absolute;
	width: 110px;
	height: 50px;
	border-radius: 50px;
	border-color: white;
	background-color: #855FB1;
	color: white;
}
#download:hover{
	background-color:#8FE3F9;
	cursor: pointer;
}
#what{
	position: absolute;
	width: 110px;
	height: 50px;
	border-radius: 50px;
	border-color: white;
	background-color: #855FB1;
	color: white;
}
#what:hover{
	background-color:#6a5acd;
	cursor: pointer;
}


.body{
	display: flex;
	align-items: center;
	left: 200px;
}
.body_container{
	position: absolute;
	display: flex;
	text-align: center;
	top: 200px;
	left:170px;
}
#man{
	position: absolute;
	height: 160px;
	width: 160px;
	border-radius: 10px;
	top: 780px;
	left:-140px;
}
#woman{
	position: absolute;
	height: 160px;
	width: 160px;
	border-radius: 10px;
	top: 780px;
	left:42px;
}
#old{
	position: absolute;
	height: 160px;
	width: 160px;
	border-radius: 10px;
	top: 780px;
	left: 227px;
}
#meet{
	position: absolute;
	height: 160px;
	width: 160px;
	border-radius: 10px;
	top: 780px;
	left: 410px;
}

.bottom{
	position: absolute;
  	text-align: center;
  	top: 1180px;
  	left:20%;
}
.bottom > h5{
	font-family:"Red Hat Display";
	font-style: normal;
	font-size: 16px;
	line-height:26px;
	letter-spacing:4px;
	text-transform: uppercase;
	color: #4D96A9;
}
.bottom > h4{
	font-family:"Red Hat Display" ;
	font-style:normal ;
	font-weight:900px;
	font-size: 30px;
	line-height:44px;
	color: #28283D;
	top: 17.5px;
}
.bottom > p{
	font-family:"Red Hat Display" ;
	font-style:normal ;
	font-weight:500px;
	font-size: 15px;
	line-height:26px;
	color: #28283D;
	top: 10px;
}
.footer{
	position: absolute;
	text-align: center;
	background-color:#4D96A9;
	width: 100%;
	height:50vh;
	top: 1507px;

	right: 0%;
}
.footer>h4{
	position: absolute;
	font-family:"Red Hat Display";
	font-style: normal;
	font-size: 30px;
	line-height:26px;
	font-weight: 900px;
	line-height: 44px;
	color: white;
	top: 50px;
	left: 200px;
}
.footer>p{
	position: absolute;
	font-family:"Red Hat Display";
	font-style: normal;
	font-size: 15px;
	line-height:26px;
	font-weight: 500px;
	line-height: 26px;
	color: white;
	top: 120px;
	left:250px;
}
.footer-button{

	position: absolute;
	height: 58px;
	width: 193px;
	font-size: 50px;
	top: 230px;
	left:200px;
}
.footer-button >input{
	position: absolute;
	width: 110px;
	height: 50px;
	border-radius: 50px;
	border-color: white;
	background-color: #855FB1;
	color: white;
}
.image > img{
	width:100%;
	height: 50vh;
	opacity: 0.2;
}
}
@media all and (max-width: 367px){
	.logo{
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left:300px;
	}
		.sec-1{
		display: flex;
		align-items: center;
		width: 100%;
	}
	.header{
		position: absolute;
		display: flex;
		align-items: center;
		right:-20%;
	}
	#pic1{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top: 50px;
	left:30px;
}
#pic2{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top: 130px;
	left: 30px;
}
#pic3{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top: -5px;
	left: 120px;

}
#pic4{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top: 120px;
	left:120px;
	
}
#pic5{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top:15px;
	left:220px;
}
#pic6{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top: 130px;
	left:220px;
}
#pic9{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top: -10px;
	left:300px;
}
#pic11{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top: 100px;
	left:300px;
}
#pic12{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top: 10px;
	right:-80px;
	
}
#pic13{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top: 130px;
	right:-80px;
}
#pic14{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top:40px;
	right:-150px;
}
#pic15{
	position: absolute;
	width: 50px;
	height:50px;
	border-radius: 100px;
	top: 130px;
	color:red;
	right:-150px;
}

.center-description{
	position: absolute;
	display:flex;
	align-items: center;
	top: 250px;
}
#description{
	position: absolute;
	font-family:'Red Hat Display';
	font-style:normal;
	font-size: 48px;
	line-height: 64px;
	text-align: center;
	margin-right: 200px;
	color: #28283D;
	left:-100px
}

.sub-description{
	position: absolute;
	width: 517px;
	height: 52px;
	font-family: 'Red Hat Display';
	font-style:normal;
	font-size: 16px;
	line-height:26px;
	text-align: center;
	color: #87879D;
	text-align: center;
	top: 250px;
	right:100px;
}

.buttons{
	position: absolute;
	text-align: center;
	top: 320px;
	left:-6%;
}
#download{
	position: absolute;
	width: 110px;
	height: 50px;
	border-radius: 50px;
	border-color: white;
	background-color:#4D96A9;
	color: white;
	left: 50px;
}
#what{
	position: absolute;
	width: 110px;
	height: 50px;
	border-radius: 50px;
	border-color: white;
	background-color: #855FB1;
	color: white;
}
#download:hover{
	background-color:#8FE3F9;
	cursor: pointer;
}
#what{
	position: absolute;
	width: 110px;
	height: 50px;
	border-radius: 50px;
	border-color: white;
	background-color: #855FB1;
	color: white;
}
#what:hover{
	background-color:#6a5acd;
	cursor: pointer;
}
.body{
	display: flex;
	align-items: center;
}

.body_container{
	position: absolute;
	text-align: center;
	display: grid;
	width: 327px;
	height: 310px;
	top: 200px;
	left:50%;
	top: 300px;
}
#man{
	position: absolute;
	height: 151px;
	width: 143px;
	border-radius: 10px;
	top: 700px;
	left:20px;
}
#woman{
	position: absolute;
	height: 151px;
	width: 143px;
	border-radius: 10px;
	top: 700px;
	left: 200px;
}
#old{
	position: absolute;
	height: 151px;
	width: 143px;
	border-radius: 10px;
	top: 880px;
	left: 20px;
}
#meet{
	position: absolute;
	height: 151px;
	width: 143px;
	border-radius: 10px;
	top: 880px;
	left:200px;
}
.bottom{
	position: absolute;
	align-items: center;
  	top: 1170px;
  	right:-300px;
  	top: 1380px;
}
.bottom > h5{
	font-family:"Red Hat Display";
	font-style: normal;
	font-size: 16px;
	line-height:26px;
	letter-spacing:4px;
	text-transform: uppercase;
	color: #4D96A9;
}
.bottom > h4{
	font-family:"Red Hat Display" ;
	font-style:normal ;
	font-weight:900px;
	font-size: 20px;
	line-height:44px;
	color: #28283D;
	top: 17.5px;
}
.bottom > p{
	font-family:"Red Hat Display" ;
	font-style:normal ;
	font-weight:500px;
	font-size: 15px;
	line-height:26px;
	color: #28283D;
	top: 10px;
}
.footer{
	position: absolute;
	width:740px;
	height: 70vh;
	left:0px;
	right: 0px;
	top: 1875px;
}
.footer>h4{
	position: absolute;
	font-family:"Red Hat Display";
	font-style: normal;
	font-size: 30px;
	line-height:26px;
	font-weight: 900px;
	line-height: 44px;
	color: white;
	top: 50px;
	left: 90px;
}
.footer>p{
	position: absolute;
	font-family:"Red Hat Display";
	font-style: normal;
	font-size: 15px;
	line-height:26px;
	font-weight: 500px;
	line-height: 26px;
	color: white;
	top: 120px;
	left:150px;
}
.footer-button{

	position: absolute;
	height: 58px;
	width: 193px;
	font-size: 50px;
	top: 230px;
	left:120px;
}
.footer-button >input{
	position: absolute;
	width: 110px;
	height: 50px;
	border-radius: 50px;
	border-color: white;
	background-color: #855FB1;
	color: white;
}
.image > img{
	width:100%;
	height: 70vh;
	opacity: 0.2;
}
}

